@model IEnumerable<MovieList.Models.MovieModel>

@{
    ViewData["Title"] = "Index";
}

<h2 class="page-title">My favorite movies</h2>

<p class="link-pages">
    <a asp-action="Create">Add Movie</a>
</p>
<table class="table">
    <tbody style="text-align: center">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> &nbsp	&loz;
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> &nbsp	&loz;
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> &nbsp
            </td>
        </tr>
}
    </tbody>
</table>
